            <!DOCTYPE html>
            <html lang="en">

            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Aman Gupta - Portfolio</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
            </head>

            <body>
                <header>
                    <h1>Aman Gupta</h1>
                    <p>Contact: aman775503@gmail.com | Phone: 7905989250</p>
                </header>
                <main>
                    <section>
                        <h2>Objective</h2>
                        <p>I am looking for a position in the industry where I can apply my knowledge and experience, contributing to the organization's success.</p>
                    </section>
                    <section>
                        <h2>Education</h2>
                        <ul>
                            <li>RKGIT, Ghaziabad - B.Tech CSE(Data Science) - CGPA: 7</li>
                            <li>B.N. Public School, Gorakhpur - CBSE Class XII - Percentage: 69</li>
                            <li>B.N. Public School, Gorakhpur - CBSE Class X - Percentage: 79</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Technical Skills</h2>
                        <p>Languages/Database: HTML, CSS, C/C++, Python, SQL</p>
                        <p>Software & Tools: VS Code, Git</p>
                        <p>Technologies: MongoDB, MySQL</p>
                    </section>
                    <section>
                        <h2>Experience</h2>
                        <p>Eleve8 Solutions Pvt. Ltd. - Project Trainee</p>
                        <ul>
                            <li>Worked on Influx DB and MYSQL</li>
                            <li>Executed MySQL for static data, InfluxDB for dynamic data.</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Projects</h2>
                        <h3>Smart Energy Management | MYSQL, INFLUX DB</h3>
                        <ul>
                            <li>Analyzed solar-weather correlation for modeling.</li>
                            <li>Used regression for weather-based predictions.</li>
                            <li>Integrated weather data for precise forecasts.</li>
                            <li>Derived insights from solar-weather correlation.</li>
                        </ul>
                        <h3>Web Scraping | Python (BeautifulSoup)</h3>
                        <ul>
                            <li>Data Acquisition of Flipkart product details</li>
                            <li>Organizing data in a DataFrame</li>
                            <li>Saving extracted information into a structured CSV file</li>
                            <li>Scraped reviews and product details from online shopping sites</li>
                        </ul>
                        <h3>Vrinda Store Analysis | Microsoft Excel</h3>
                        <ul>
                            <li>Created an annual sales report for 2022</li>
                            <li>Performed data cleaning and designed the dashboard</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Certifications</h2>
                        <ul>
                            <li>Big Data Technologies | CDAC</li>
                            <li>Data Analysis with R Programming | Coursera</li>
                            <li>Data Science Foundations | Great Learning</li>
                        </ul>
                    </section>
                </main>
            </body>

            </html>
