<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aman Gupta</title>
    
</head>
<body>
    <section>
        <p><a href="#About">About</a></p>
    </section>
    <div>
        <div>
            <h1>Aman Gupta</h1>
            <p>Contact: <a href="mailto:aman775503@gmail.com">aman775503@gmail.com</a> </p>
            
          <p>LinkdIn: <a href="https://www.linkedin.com/in/aaman07/">linkedin.com/in/aaman07</a> </p>
            <p>Github: <a href="https://github.com/Amang07">Github.com</a></p>
        </div>

            <table>
                <tr>
                    <td id="About">
                        <img src="https://my-portfolio-website--amang07.repl.co/static/aman.png" alt="aman gupta pic">
                    </td>
                    <td>
                        Currently pursuing B.Tech,and 
                        want to become a well known Data Scientist/analyst.
                        
                    </td>
                </tr>
            </table>

            <section>
                <h2>Education</h2>
                <ul>
                    <li>B.Tech in CSE(DS)</li>
                    <li>B.N. Public School</li>
                </ul>
            </section>

            <section>
                <h2>Work Experience  </h2>
                <h3>Trainee,eleve8</h3>
                <p>May 2023-Current</p>
                <ul>
                    <li>energy project</li>
                    <li>data science</li>
                </ul>
            </section>
            <section>
                <h2>Skill</h2>
                <ul>
                    <li>C++</li>
                    <li>Python</li>
                    <li>SQl</li>
                    <li>HTML</li>
                    <li>R</li>
                </ul>
            </section>
            <section>
                <h2>Achievment</h2>
                <ul>
                    <li>Cleared Round 1 of Goldmann Sach
                    </li>
                    <li>Lead at Technical Department at Rkgit's Data Science Department</li>
                </ul>
            </section>
            <section>
                <h2>Projects</h2>
            </section>
            <footer><p>&copy; 2023 Aman Gupta.All rights reserved.</p></footer>

    </div>
    
</body>
</html>