<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <section>
        <p><a href="#About">About</a></p>
    </section>
    <div>
        <div>
            <h1>Aman Gupta</h1>
            <p>Contact: <a href="">aman775503@gmail.com</a> </p>
            <p>LinkdIn: <a href="linkedin.com/in/aaman07">linkedin.com/in/aaman07</a> </p>
            <p>Github: <a href=""></a>github.com</p>
        </div>

            <table>
                <tr>
                    <td id="About">
                        <img src="aman.png" alt="aman gupta pic">
                    </td>
                    <td>
                        Currently pursuing b.tech,and 
                        want to become a well known software
                        engineer,i also have a passion of playing cricket
                        although i have many thing to tell but may be later.
                    </td>
                </tr>
            </table>

            <section>
                <h2>Education</h2>
                <ul>
                    <li>B.Tech in CSE(DS)</li>
                    <li>B.N. Public School</li>
                </ul>
            </section>

            <section>
                <h2>Work Experience  </h2>
                <h3>Trainee,eleve8</h3>
                <p>May 2023-Current</p>
                <ul>
                    <li>energy project</li>
                    <li>data science</li>
                </ul>
            </section>
            <section>
                <h2>Skill</h2>
                <ul>
                    <li>C++</li>
                    <li>Python</li>
                    <li>SQl</li>
                    <li>HTML</li>
                    <li>R</li>
                </ul>
            </section>
            <section>
                <h2>Achievment</h2>
                <ul>
                    <li>Cleared Round 1 of Goldmann Sach
                    </li>
                    <li>Lead at Technical Department at Rkgit's Data Science Department</li>
                </ul>
            </section>
            <section>
                <h2>Projects</h2>
            </section>
            <footer><p>&copy; 2023 Aman Gupta.All rights reserved.</p></footer>

    </div>
    
</body>
</html>